<div class="menu-item__inner hotspotmenu-item__inner">

  {{#if displayTitle}}
  <div class="menu-item__title hotspotmenu-item__title">
    <div class="menu-item__title-inner hotspotmenu-item__title-inner">
      {{{compile displayTitle}}}
    </div>
  </div>
  {{/if}}

  {{#if duration}}
  <div class="menu-item__duration hotspotmenu-item__duration">
    <div class="menu-item__duration-inner hotspotmenu-item__duration-inner">
      {{#if _globals._menu._hotspotMenu.durationLabel}}{{{_globals._menu._hotspotMenu.durationLabel}}}{{/if}}{{{duration}}}
    </div>
  </div>
  {{/if}}

  <div class="menu-item__progress hotspotmenu-item__progress">
    <div class="menu-item__progress-inner hotspotmenu-item__progress-inner"></div>
  </div>

</div>
