<div class="hotspot-menu-header">
	{{#if displayTitle}}
	<div class="hotspot-menu-title">{{{displayTitle}}}</div>
	{{/if}}
	{{#if body}}
	<div class="hotspot-menu-body">{{{body}}}</div>
	{{/if}}
</div>
<div class="hotspot-menu-item-container">
	{{!-- hotspots rendered here --}}
</div>
