<div class="menu__inner hotspotmenu__inner">

  <div class="menu__header hotspotmenu__header">
    <div class="menu__header-inner hotspotmenu__header-inner">

      {{#if displayTitle}}
      <div class="menu__title hotspotmenu__title">
        <div class="menu__title-inner hotspotmenu__title-inner">
          {{{compile displayTitle}}}
        </div>
      </div>
      {{/if}}

      {{#if body}}
      <div class="menu__body hotspotmenu__body">
        <div class="menu__body-inner hotspotmenu__body-inner">
          {{{compile body}}}
        </div>
      </div>
      {{/if}}

    </div>
  </div>

  <div class="menu__item-container hotspotmenu__item-container">
    <div class="menu__item-container-inner hotspotmenu__item-container-inner js-children">
      {{!-- hotspots rendered here --}}
    </div>
  </div>

</div>
